.footer {
  padding: 0 50px;
    &__container {
      display: flex;
      justify-content: flex-end;
      padding: 250px 200px;
      background: url("../../images/runners.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: -120px;
    }
    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-heading {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        color: white;
        font-size: 26px;
      }
    }
  }
  .right-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 30px;
    &__line {
      display: inline-block;
      margin-right: 20px;
      width: 2px;
      height: 100px;
      background-color: #fff;
    }
    &__desc {
      color: white;
      font-size: 15px;
      line-height: 1.5;
    }
  }